version: '3.7'
services:
  nexus:
    image: sonatype/nexus3
    container_name: nexus
    restart: always
    environment:
      INSTALL4J_ADD_VM_PARAMS: -XX:ActiveProcessorCount=2
    ports:
      - 8081:8081
    volumes:
      - ./data:/nexus-data