version: "3.7"

services:
  gitea:
    image: gitea/gitea
    restart: always
    ports:
      - "2222:22"
      - "3000:3000"
    volumes:
      - ./data:/data
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - DB_TYPE=mysql
      - DB_HOST=192.168.56.141:3306
      - DB_NAME=gitea
      - DB_USER=gitea
      - DB_PASSWD=gitea
