version: '3.7'
services:
  redis:
    image: redis
    restart: always
    command: redis-server /etc/redis/redis.conf --appendonly yes --requirepass 123456
    environment:
      TZ: Asia/Shanghai
    volumes:
      - ./redis/data:/data
      - ./redis/conf/redis.conf:/etc/redis/redis.conf
    ports:
      - 6379:6379
